<div class="bg">

  <div class="login">
    <div class="contentlogin">
      <h2>{{currentLang.login.title}}</h2>
      <div class="form">
        <div class="inputBx">
          <input type="text" required>
          <i>{{currentLang.login.placeholder_user}}</i>
        </div>
        <div class="inputBx">
          <input type="password" required>
          <i>{{currentLang.login.placeholder_password}}</i>
        </div>
        <button>{{currentLang.buttons.login}}</button>
      </div>
    </div>
  </div>
</div>
