body {
    left:0;
    top:0;
    margin:0;
    position: fixed;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8) 70%),
        radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7) 50%);
}

.login-container {
    color: #070707;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.enterprise-logo {
    width: 256px;
    height: 256px;
    border-radius: 6px;
    margin-bottom: 6px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
}
