
<div class="form-place" [hidden]="!isOnStepOne">
    <div class="form-container">
        <div class="form-title">
            <h1 [hidden]="isModifying">Empezar compra</h1>
            <h1 [hidden]="!isModifying">Modificando compra con id: {{this.id}}</h1>
        </div>
        <div class="form-content">
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-truck"></i></span>
                <select class="form-select" [(ngModel)]="idProveedor">
                    <option value="0">Seleccione un proveedor</option>
                    <option *ngFor="let proveedor of comboProveedores" value="{{proveedor.Id}}">{{proveedor.Nombre}}</option>
                  </select>
                <span class="input-group-text"><i class="bi bi-phone-fill"></i></span>
                <select class="form-select" [(ngModel)]="idSucursal">
                    <option value="0">Seleccione una sucursal</option>
                    <option *ngFor="let sucursal of comboSucursales" value="{{sucursal.Id}}">{{sucursal.Nombre}}</option>
                </select>
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-at"></i></span>
                <select class="form-select" [(ngModel)]="idComprador">
                    <option value="0">Seleccione un comprador</option>
                    <option *ngFor="let comprador of comboCompradores" value="{{comprador.Id}}">{{comprador.Nombre}}</option>
                </select>
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text">Fecha de llegada: </span>
                <input class="form-control" type="date" [(ngModel)]="fechaLlegada">
            </div>
        </div>
        <div class="form-end">
            <button [hidden]="!isModifying" (click)="editar()"   class="btn btn-outline-info"><i class="bi bi-check-circle"></i> Confirmar<i class="underline"></i></button>
            <button [hidden]="!isModifying" (click)="limpiar()"  class="btn btn-outline-danger"><i class="bi bi-x-circle"></i> Cancelar</button>
            <button [hidden]="isModifying"  (click)="insertarOrden()" class="btn btn-outline-success"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="form-place" *ngIf="isOnStepTwo && mostrarFormulario">
    <div class="form-container">
        <div class="form-title">
            <h1 [hidden]="isModifying">Registrar productos de la compra</h1>
            <h1 [hidden]="!isModifying">Modificando elemento de la compra con el id: {{this.id}}</h1>
        </div>
        <div class="form-content">
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-truck"></i></span>
                <select class="form-select" [(ngModel)]="insumo">
                    <option value="0">Seleccione un Insumo</option>
                    <option *ngFor="let proveedor of comboInsumos" value="{{proveedor.Insumo}}">{{proveedor.Descripcion}}</option>
                </select>
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-at"></i></span>
                <input class="form-control" type="number" [(ngModel)]="cantidad">
            </div>
        </div>
        <div class="form-end">
            <button (click)="terminar()" class="btn btn-outline-info"><i class="bi bi-check-circle"></i> Terminar<i class="underline"></i></button>
            <button (click)="insertarDetalleOrden()" class="btn btn-outline-success"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
        </div>
    </div>
</div>
<br>
<div class="actionbar" style="width: 70%;" [hidden]="!isOnStepOne">
    <div class="input-group flex-nowrap">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input class="form-control" (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </div>
</div>
<br>
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="table-container" [hidden]="!isOnStepOne">
    <div class="table-hotbar">
        <button><i class="bi bi-filetype-xlsx"></i></button>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Proveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.IdProveedor}} </td>
        </ng-container>
        <ng-container matColumnDef="Sucursal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.IdSurcursal}} </td>
        </ng-container>
        <ng-container matColumnDef="Comprador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comprador </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.IdComprador}} </td>
        </ng-container>
        <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Total}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaLlegada">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de llegada </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.FechaLlegada}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaRegistro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de registro </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.FechaRegistro}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado por </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.UsuarioActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let elemento">
              <mat-icon class="action-btn" (click)="mostrarDetalles(elemento.Id)">pageview</mat-icon>
              <mat-icon class="action-btn" (click)="abrirDeleteDialog(elemento.Id, elemento.Nombre)"> delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="columnasCompas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasCompas;"></mat-row>
    </table>
</div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<button style="position: absolute; right: 10px;" class="btn btn-success" (click)="volverALista()" *ngIf="isOnStepTwo  && !mostrarFormulario">Volver a lista</button><br> <br>
<div class="table-container" [hidden]="!isOnStepTwo">
    <div class="table-hotbar">
        <button><i class="bi bi-filetype-xlsx"></i></button>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dataSource2" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="IdOrdenCompra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio de compra </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.IdOrdenCompra}} </td>
        </ng-container>
        <ng-container matColumnDef="Insumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Insumo </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Insumo}} </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="CantidadRecibida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad recibida </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.CantidadRecibida}} </td>
        </ng-container>
        <ng-container matColumnDef="Costo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Costo}} </td>
        </ng-container>
        <ng-container matColumnDef="CostoRenglon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo de renglon </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.CostoRenglon}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaRegistro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de registro </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.FechaRegistro}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de modificación </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.FechaActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado por </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.UsuarioActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let elemento">
            <mat-icon class="action-btn" (click)="abrirDeleteDialog(elemento.Id, elemento.Nombre)"> delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="columnasDetalleCompras"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasDetalleCompras;"></mat-row>
    </table>
</div>
