
<div class="form-container" [hidden]="!isOnStepOne">
    <div class="form-title">
        <h1 [hidden]="isModifying">Registrar traspaso</h1>
        <h1 [hidden]="!isModifying">Editando persona con id: {{this.id}}</h1>
    </div>
    <div class="form-content">
        <div class="input-group flex-nowrap">
            <select class="form-control form-select" [(ngModel)]="almacenOrigen">
                <option value="0">Almacen de origen</option>
                <option *ngFor="let sucursales of comboSucursales" value="{{sucursales.Id}}">{{sucursales.Nombre}}</option>
            </select>
            <select class="form-control form-select" [(ngModel)]="almacenDestino">
                <option value="0">Almacen de destino</option>
                <option *ngFor="let sucursales of comboSucursales" value="{{sucursales.Id}}">{{sucursales.Nombre}}</option>
            </select>
        </div>
    </div>
    <div class="form-end">
        <!-- <button [hidden]="!isModifying"(click)="editar()" class="btn btn-outline-warning"><i class="bi bi-check-circle"></i> Confirmar<i class="underline"></i></button> -->
        <button [hidden]="!isModifying" (click)="limpiar()"  class="btn btn-outline-danger"><i class="bi bi-x-circle"></i> Cancelar</button>
        <button [hidden]="isModifying"(click)="insertar()" class="btn btn-outline-success"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
    </div>
</div>

<div class="form-container" [hidden]="!isOnStepTwo">
    <div class="form-title">
        <h1 [hidden]="isModifying">Registrar en el traspaso: {{this.idTraspaso}}</h1>
        <h1 [hidden]="!isModifying">Editando persona con id: {{this.id}}</h1>
    </div>
    <div class="form-content">
        <div class="input-group flex-nowrap">
            <select class="form-control form-select" [(ngModel)]="insumo">
                <option value="">Seleccione el insumo</option>
                <option *ngFor="let insumos of comboInsumos" value="{{insumos.Insumo}}">{{insumos.Descripcion}}</option>
            </select>
            <input class="form-control" [(ngModel)]="cantidadEnviada" placeholder="cantidad enviada">
        </div>
    </div>
    <div class="form-end">
        <!-- <button [hidden]="!isModifying"(click)="editar()" class="btn btn-outline-warning"><i class="bi bi-check-circle"></i> Confirmar<i class="underline"></i></button> -->
        <button [hidden]="!isModifying" (click)="limpiar()"  class="btn btn-outline-danger"><i class="bi bi-x-circle"></i> Cancelar</button>
        <button (click)="terminar()" class="btn btn-outline-info"><i class="bi bi-check-circle"></i> Terminar<i class="underline"></i></button>
        <button [hidden]="isModifying"(click)="insertarDetalle()" class="btn btn-outline-success"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
    </div>
</div>

<br>

<br>

<div class="table-container" [hidden]="!isOnStepOne">
  <div [hidden]="!isOnStepOne" class="actionbar" style="width: 100%; display: flex; flex-direction: column; padding: 6px; align-items:center; gap: 6px; background-color:var(--mat-toolbar-container-background-color);">
    <div class="input-group flex-nowrap" >
        <span class="input-group-text">Sucursal de origen: </span>
        <select class="form-control form-select" (change)="getData()" [(ngModel)]="this.search.pAlmacenOrigen">
            <option value="0">---</option>
            <option *ngFor="let sucursales of comboSucursales" value="{{sucursales.Id}}">{{sucursales.Nombre}}</option>
        </select>
    </div>
    <div class="input-group flex-nowrap" >
        <span class="input-group-text">Sucursal de destino: </span>
        <select class="form-control form-select" (change)="getData()" [(ngModel)]="this.search.pAlmacenDestino">
            <option value="0">---</option>
            <option *ngFor="let sucursales of comboSucursales" value="{{sucursales.Id}}">{{sucursales.Nombre}}</option>
        </select>
    </div>
    <div class="input-group flex-nowrap" >
        <span class="input-group-text">Fecha de inicio: </span>
        <input class="form-control" (change)="getData()" type="date" [(ngModel)]="this.search.pFechaInicio">
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">Fecha de fin: </span>
        <input class="form-control" (change)="getData()" type="date" [(ngModel)]="this.search.pFechaFinal">
    </div>
</div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table class="table" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="AlmacenOrigen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal de origen </th>
            <td mat-cell *matCellDef="let persona"> {{persona.AlmacenOrigen}} </td>
        </ng-container>
        <ng-container matColumnDef="AlmacenDestino">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal de destino </th>
            <td mat-cell *matCellDef="let persona"> {{persona.AlmacenDestino}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioEnvia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario que emite </th>
            <td mat-cell *matCellDef="let persona"> {{persona.UsuarioEnvia}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioRecibe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario que recive </th>
            <td mat-cell *matCellDef="let persona"> {{persona.UsuarioRecibe}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado por </th>
            <td mat-cell *matCellDef="let persona"> {{persona.UsuarioActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaReg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaRegistro}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaAct">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Última Actualización </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let elemento">
                <!-- <mat-icon class="action-btn" (click)="cargar(elemento)">edit</mat-icon> -->
                <mat-icon class="action-btn" (click)="mostrarDetalles(elemento.Id)">pageview</mat-icon>
                <mat-icon class="action-btn" (click)="abrirDeleteDialog(elemento.Id, elemento.Nombre)">delete</mat-icon>
            </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

</div>
<button style="position: absolute; right: 10px;" class="btn btn-success" (click)="volverALista()" *ngIf="viewDetail != false">Cerrar</button><br> <br>
<div class="table-container" [hidden]="!isOnStepTwo && viewDetail==false">
    <table class="table" mat-table [dataSource]="dataSource2">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="IdTraspaso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio de Traspaso</th>
            <td mat-cell *matCellDef="let persona"> {{persona.IdTraspaso}} </td>
        </ng-container>
        <ng-container matColumnDef="Insumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Insumo </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Insumo}} </td>
        </ng-container>
        <ng-container matColumnDef="CantidadEnviada">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Enviada</th>
            <td mat-cell *matCellDef="let persona"> {{persona.CantidadEnviada}} </td>
        </ng-container>
        <ng-container matColumnDef="CantidadRecibida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Recibida </th>
            <td mat-cell *matCellDef="let persona"> {{persona.CantidadRecibida}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaRegistro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaRegistro}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Última Actualización </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado por </th>
            <td mat-cell *matCellDef="let persona"> {{persona.UsuarioActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let elemento">
                <!-- <mat-icon class="action-btn" (click)="cargar(elemento)">edit</mat-icon> -->
                <mat-icon class="action-btn" (click)="abrirDetalleDeleteDialog(elemento.Id, elemento.Nombre)">delete</mat-icon>
            </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
    </table>

</div>
