<h1 class="title">Modulo Personas</h1>

<div class="form-container">
    <div class="form-title">
        <h1 [hidden]="isModifying">Registrar persona</h1>
        <h1 [hidden]="!isModifying">Editando persona con id: {{this.id}}</h1>
    </div>
    <div class="form-content">
        <div class="input-group flex-nowrap">
            <span class="input-group-text"><i class="bi bi-person-fill-add" [hidden]="isModifying"></i> <i class="bi bi-person-fill-gear" [hidden]="!isModifying"></i></span>
            <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Nombre" aria-label="Nombre">
            <input type="text" class="form-control" [(ngModel)]="ApPaterno" placeholder="Apellido paterno" aria-label="Apellido paterno" required>
            <input type="text" class="form-control" [(ngModel)]="ApMaterno" placeholder="Apellido materno" aria-label="Apellido materno" required>
        </div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
            <input type="text" class="form-control" [(ngModel)]="direccion" placeholder="Direccion" aria-label="Direccion" required>
        </div>
    </div>
    <div class="form-end">
        <button [hidden]="!isModifying"(click)="editar()" class="btn btn-outline-warning">Update<i class="underline"></i></button>
        <button [hidden]="!isModifying" (click)="limpiar()"  class="btn btn-outline-danger">Cancelar</button>
        <button [hidden]="isModifying"(click)="insertar()" class="btn btn-outline-success"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
    </div>
</div>

<div class="actionbar">
    <mat-form-field class="search-bar">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </mat-form-field>
</div>

<br>
<div class="table-container">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table class="table" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="ApPaterno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ap. Paterno </th>
            <td mat-cell *matCellDef="let persona"> {{persona.ApPaterno}} </td>
        </ng-container>
        <ng-container matColumnDef="ApMaterno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ap. Materno </th>
            <td mat-cell *matCellDef="let persona"> {{persona.ApMaterno}} </td>
        </ng-container>
        <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Direccion}} </td>
        </ng-container>
                <ng-container matColumnDef="FechaReg">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Registro </th>
                    <td mat-cell *matCellDef="let persona"> {{persona.FechaReg}} </td>
                </ng-container>
        <ng-container matColumnDef="FechaAct">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Última Actualización </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaAct}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let elemento">
            <mat-icon class="action-btn" (click)="cargar(elemento)">edit</mat-icon>
            <mat-icon class="action-btn" (click)="abrirDeleteDialog(elemento.Id, elemento.Nombre)">delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
</div>
