.actions{
    position: absolute;
    padding-top: 14px;
    margin-right: 12px;
    height: var(--mat-toolbar-standard-height - 16px);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.actions a{
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    background-color: #00000092;
    color:white;
    transition: .5s;
}

.actions a:hover{
    background-color: #000000b3;
    transition: .5s;
}

.actions a:active{
    background-color: #000000d3;
    transition: .5s;
}

mat-drawer{
    height: 100%;
    --mat-sidenav-container-width: 288px!important;
}

.side-list{
    width: 100%;
    height: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-list button{
    color:white;
    font-size: 16px;
    border: 0;
    background-color: #00000049;
    padding: 16px;
    width: 100%;
    margin-bottom: 6px;
}

.side-list span{
    width: calc(100% - 16px);
    padding: 8px;
    text-align: center;
}

.card{
    align-items: center;
    width: calc(100% - 16px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #00000048;
    color:white;
    gap: 6px;
}

.card button{
    width: 100%;
}

