<div style="position: relative;">
  <div class="toolbar" *ngIf="currentUrl != '/login' && currentUrl != '/'">
    <h1 class="menu-label">{{getTitle()}}</h1>
  </div>

  <!-- Sidebar -->
  <div class="sidebar" *ngIf="currentUrl != '/login' && currentUrl != '/'">
    <div class="card">
      <div>
        <div>
          <img src="./assets/pfp.png" class="pfp" alt="Imagen del usuario" />
        </div>
      </div>
      <!-- <img class="pfp" width="128px" src="./assets/pfp.jpg" height="128px"> -->
      <div></div>
      <p>Has iniciado sesión como: {{actualUser.NombreUsuario}}</p>
    </div>

    <button> Mi perfil </button>

    <div class="separator"></div>

    <button routerLink="/inicio"> Inicio </button>
    <button routerLink="/ajustes"> Ajustes </button>
    <button (click)="logout()" > Cerrar sesion </button>

  </div>

  <div class="content-page">
    <router-outlet/>
  </div>
</div>
<!-- <app-cursor></app-cursor> -->
