.card{
    align-items: center;
    width: calc(100% - 16px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #00000048;
    color:white;
    margin-bottom: 10px;
    gap: 6px;
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.card button{
    width: 100%;
}


/* Toolbar */
.toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}

.menu-label {
  font-size: 24px;
  cursor: pointer;
  margin-right: 32px;
  color: white;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 32px;
  left: 0;
  padding: 6px;
  width: 250px;
  height: 100%;
  background: #444;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .separator{
  border: 1px solid #222;
  border-radius: 50%;
  width: calc(100% + 12px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar button {
  width: calc(100% + 12px);
  border: none;
  outline: none;
  background-color: #00000000;
  color: #fff;
  padding: 12px;
  transition: .5s;
}

.sidebar button:hover {

  background-color: #ffffff70;

}

.sidebar a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.sidebar a:hover {
  background: #555;
}

/* Checkbox oculto */
#menu-toggle {
  display: none;
}

/* Contenido principal */
.content-page {
  margin-top: var(--margin-toolbar);
  padding: 20px;
  margin-left: 250px;
  transition: margin-left 0.3s;
}
