.actions{
    position: absolute;
    padding-top: 14px;
    margin-right: 12px;
    height: var(--mat-toolbar-standard-height - 16px);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
}


.pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }


.actions a{
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    background-color: #00000092;
    color:white;
    transition: .5s;
}

.actions a:hover{
    background-color: #000000b3;
    transition: .5s;
}

.actions a:active{
    background-color: #000000d3;
    transition: .5s;
}

mat-drawer{
    height: 100%;
    --mat-sidenav-container-width: 288px!important;
}

.side-list{
    width: 100%;
    height: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

mat-accordion{
    width: 100%;
}

.side-list button{
    background-color: var(--mat-toolbar-container-background-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* Suaviza la transición */
}

.side-list button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.5s ease; /* Suaviza la transición */
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.389); /* Efecto sutil de sombra */

}

.side-list span{
    width: calc(100% - 16px);
    padding: 8px;
    text-align: center;
}


.card{
    align-items: center;
    width: calc(100% - 16px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #00000048;
    color:white;
    margin-bottom: 10px;
    gap: 6px;
}

.card button{
    width: 100%;
}

