.inputBx {
  position: relative;
  width: 256px;
}

.inputBx input {
  position: relative;
  width: 100%;
  background: #222;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.inputBx i {
  position: absolute;
  /* background-color: #333; */
  left: 0;
  padding: 20px 8px;
  font-style: normal;
  color: #aaa;
  transition: .5s;
  pointer-events: none;
}

.inputBx input:focus~i,
.inputBx input:valid~i {
  transform: translateY(-15px);
  font-size: .8em;
  color: #fff;
}
