
<div class="form-container">
    <div class="form-title">
        <h1>Permisos</h1>
    </div>
    <div class="form-content">
        <div class="input-group flex-nowrap">
            <span class="input-group-text"><i class="bi bi-rulers"></i></span>
            <select class="form-control">
                <option value="0">Seleccione un rol</option>
                <option value="1">Administrador</option>
                <option value="2">Cliente</option>
                <option value="3">Gerente</option>
            </select>
        </div>
        
        <br>
        
        <div class="list-box">
            <mat-checkbox>Articulos</mat-checkbox>
            <mat-checkbox>Bancos</mat-checkbox>
            <mat-checkbox>Recetas</mat-checkbox>
            <mat-checkbox>Entradas</mat-checkbox>
            <mat-checkbox>Insumos</mat-checkbox>
            <mat-checkbox>Movimientos</mat-checkbox>
        </div>
    </div>
    <div class="form-end">
        <button class="btn btn-outline-warning"><i class="bi bi-check-circle"></i> Confirmar<i class="underline"></i></button>
        <button class="btn btn-outline-danger"><i class="bi bi-x-circle"></i> Cancelar</button>
        <button class="btn btn-outline-success"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
    </div>
</div>