<div class="form-place">
    <div class="form-container">
        <div class="form-title">
            <h1 [hidden]="isModifying">Registrar bancos</h1>
            <h1 [hidden]="!isModifying">Editando bancos: {{this}}</h1>
        </div>
        <div class="form-content">
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-upc-scan"></i></span>
                <input class="form-control" placeholder="id" [(ngModel)]="id">
                <span class="input-group-text"><i class="bi bi-card-text"></i></span>
                <input class="form-control" placeholder="nombre" [(ngModel)]="nombre">
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-diagram-3-fill"></i></span>
                <input class="form-control" placeholder="direccion" [(ngModel)]="direccion">
                <span class="input-group-text"><i class="bi bi-rulers"></i></span>
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-cash"></i></span>
                <input class="form-control" placeholder="usuarioActualiza" [(ngModel)]="usuarioActualiza">
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-percent"></i></span>
                <span class="input-group-text"><i class="bi bi-percent"></i></span>
            </div>
        </div>

        <div class="form-end">
            <button [hidden]="!isModifying" (click)="editar()" class="btn btn-outline-info"><i class="bi bi-check-circle"></i> Confirmar<i class="underline"></i></button>
            <button [hidden]="!isModifying" (click)="limpiar()"   class="btn btn-outline-danger"><i class="bi bi-x-circle"></i> Cancelar</button>
            <button [hidden]=" isModifying" (click)="insertar()"  class="btn btn-outline-success"> <i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>

        </div>
    </div>
</div>
<br>
<div class="actionbar" style="width: 70%;">
    <div class="input-group flex-nowrap">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input class="form-control" (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </div>
</div>

<br>

<div class="table-container">
    <div class="table-hotbar">
        <button><i class="bi bi-filetype-xlsx"></i></button>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
    <table class="table" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Nombre}}  </td>
        </ng-container>
        <ng-container matColumnDef="Direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Direccion}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UsuarioActualiza </th>
            <td mat-cell *matCellDef="let persona"> {{persona.UsuarioActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaReg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaReg}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaAct">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaAct}} </td>
        </ng-container>
        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado por </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Usuario}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let elemento">
            <mat-icon class="action-btn" (click)="cargarDatos(elemento)">edit</mat-icon>
            <mat-icon class="action-btn" (click)="abrirDeleteDialog(elemento.Id, elemento.Descripcion)">delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
</div>