<div class="cards-container">
    <div class="custom-card" *ngFor="let item of dataSource.data">
        <div class="custom-card-info">
            <h3>{{ item.Nombre }}</h3>
            <p>ID: {{ item.Id }}</p>
            <p>Nombre del responsable: {{item.NombreP}}</p>
            <p>Fecha de alta:{{item.FechaReg}}</p>
        </div>
    </div>
    <div class="custom-card" routerLink="../personas" style="background-color: rgb(18, 156, 18); justify-content: center;">
        <div class="custom-card-info">
            <i class="bi bi-person-fill-gear" style="font-size: 64px;"></i>
            <h3 style="margin-top: 12px;"> Gestor de usuarios </h3>
        </div>
    </div>
</div>