/* SilentStyles */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html{

    --ligth-red:#ff9a9a;
    --ligth-green:#c9ffb2;
    --ligth-blue:#a2b3ff;
    --ligth-orange:#ffc787;
    --ligth-yellow:#fff898;
    --ligth-gray: #cecece;
    --ligth-purple: #ffb3f4;
    --red:#ca1c1c;
    --green:#41bc0c;
    --blue:#3f55ba;
    --orange:#ce7510;
    --yellow:#cdc005;
    --gray: #5d5d5d;
    --purple: #9e0787;
    --dark-red:#751010;
    --dark-green:#205608;
    --dark-blue:#111e59;
    --dark-orange:#633c0f;
    --dark-yellow:#80780f;
    --dark-gray: #1a1a1a;
    --dark-purple: #4e0443;
    --custom: #000000;
    --dark-custom: #000000;
    --title-color: #000000;

    --mat-toolbar-container-background-color: var(--black);
    --mat-expansion-container-background-color: var(--black);
    --table-color: var(--black);
    --mat-toolbar-standard-height: 64px;
    --mat-toolbar-mobile-height: 56px;
    --mat-sidenav-container-text-color:#fff;
    --mat-sidenav-container-background-color:#424242;
    --mat-sidenav-content-background-color: #fff;
    --mat-sidenav-scrim-color: rgba(0, 0, 0, 0.6);
}

/* Estilo de la barra de scroll */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Fondo de la barra de scroll */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Manija de la barra de scroll */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Bordes redondeados */
}

/* Manija al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

mat-toolbar, mat-drawer-container, mat-expansion-panel {
    color: white !important;;
    transition: .5s!important;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

:root {
    --table-bg-color: #ffffff; /* Valor por defecto */
}

.table-container table {
    background-color: #fff; /* Usa el color definido en ajustes */
    border-color: #000000;
    border-radius: 3px;
}

.table-container th {
    text-align: center !important;
    vertical-align: bottom;
    padding-top: 6px;
    width: 100%;
    height: 45px;
    font-size: 12px;
    color: #000000 !important;
}

.table-container td {
    background-color: #00000000!important;
    text-align: center !important;
    width: 100%;
    height: 40px;
    color: rgb(0, 0, 0) !important;
}

mat-row:nth-child(odd) {
    background-color: #ffffff; /* Blanco */
  }

  mat-row:nth-child(even) {
    background-color: var(--table-color); /* Azul claro */
  }

.button-strip{
    width: 100%;
    overflow-x: auto!important;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    border-radius: 6px;
    background-color: #00000055;
}

.button-list{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    gap: 12px;
    border-radius: 6px;
    background-color: #00000055;
}

.button-strip button{
    background-color: #000000a0;
    color: white;
    border: none;
    width: 128px;
    height: 128px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* Suaviza la transición */
    border-radius: 25px;
    display: flex; /* Usar flex para centrar el contenido */
    flex-direction: column; /* Coloca icono y texto en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
}


.button-strip button:hover{
    background-color: var(--mat-toolbar-container-background-color);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.3s ease; /* Suaviza la transición */
}

.button-strip button i{
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease; /* Suaviza la transición */
}

.button-strip button:hover i{
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s ease; /* Suaviza la transición */
}

.button-strip button:active{
    background-color: #000000d3;
    transition: .5s;
}

.section-title{
    margin-left: 6px;
}

.title{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color:var(--title-color)
}

.form-container{
    width: 60%;
    margin-left: calc(50% - 30%);
    height: max-content;
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
}

.form-title{
    width: 100%;
    padding-top: 16px;
    padding-left: 16px;
    background-color: var(--mat-toolbar-container-background-color);
    color: white;
}

.form-content{
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-end{
    width: 100%;
    padding: 16px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bi{
    font-size: 20px;
}

.table-container .table-hotbar{
    margin-top: 3.5px;
    margin-left: 6px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.table-container .table-hotbar button{
    color: #fff;
    background-color: #00000092;
    padding: 12px;
    border: 0;
    border-radius: 6px;
}
