<div class="content">
  <mat-accordion class="settings-panel">
    <!-- Panel Colores -->
    <mat-expansion-panel class="animated-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>color_lens</mat-icon>
          <span class="section-title">Colores</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="button-strip">
        <button class="btn-settings blue" (click)="this.setColorSystem('blue')"></button>
        <button class="btn-settings red" (click)="this.setColorSystem('red')"></button>
        <button class="btn-settings green" (click)="this.setColorSystem('green')"></button>
        <button class="btn-settings orange" (click)="this.setColorSystem('orange')"></button>
        <button class="btn-settings yellow" (click)="this.setColorSystem('yellow')"></button>
        <button class="btn-settings gray" (click)="this.setColorSystem('gray')"></button>
        <button class="btn-settings purple" (click)="this.setColorSystem('purple')"></button>
      </div>
    </mat-expansion-panel>

    <!-- Panel Tema -->
    <mat-expansion-panel class="animated-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>color_lens</mat-icon>
          <span class="section-title">Tema</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="button-strip">
        <button class="btn-settings" (click)="this.setBgColor('light')">Claro</button>
        <button class="btn-settings" (click)="this.setBgColor('dark')">Oscuro</button>
        <button class="btn-settings" (click)="this.setBgColor('color')">A color</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Perfil -->
  <div class="section profile-section">
    <img class="pfp animated-img" src="./assets/pfp.jpg" width="200" height="200">
    <p>Estilo de imagen de perfil</p>
</div>


  <!-- Footer -->
  <div class="footer">
    <button class="btn btn-outline-success animated-btn" (click)="save()">Guardar</button>
    <button class="btn btn-outline-danger animated-btn" routerLink="../inicio">Salir sin guardar</button>
  </div>
</div>
