button{
  padding: 0;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: var(--mat-toolbar-container-background-color);
  overflow: hidden;
  width: 375px;
}

button .button-header{
  width: 100%;
  padding: 24px;
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button .button-header span{
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding-top: calc(60px / 2);
  transition: .5s;
}

button .button-header i{
  width: 64px;
  height: 64px;
  font-size: 64px;
  transition: .5s;
}

.button-ribbon {
  background-color: rgba(72, 70, 70, 0.295);
  width: 100%;
  position:relative;
  bottom: 0;
  left: 0;
}

.button-ribbon span{
  margin-right: 72px;
  transition: margin-right .5s;
}

.button-ribbon i {
  position: relative;
  top: 2px;
}

button:hover .button-ribbon span{
  margin-right: 102px;
  transition: margin-right .5s;
}

button:hover .button-header i {
  font-size: 72px;
  color: #fff!important;
}

button:hover .button-header span{
  font-size: 20px;
  transition: .5s;
}

@media screen and (max-width: 1400px){
  button{
    width: 320px;
  }
  button:hover .button-header span{
    font-size: 20px;
    transition: .5s;
  }
}