<div class="content">
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>account_circle</mat-icon> <span class="section-title">Administración</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="button-strip">
          <button>Algo1</button>
          <button>Algo2</button>
          <button>Algo3</button>
          <button>Algo4</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>assessment</mat-icon> <span class="section-title">Ventas</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="button-strip">
          <button>Algo1</button>
          <button>Algo2</button>
          <button>Algo3</button>
          <button>Algo4</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>assessment</mat-icon> <span class="section-title">Estadísticas</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="button-strip">
          <button>Algo1</button>
          <button>Algo2</button>
          <button>Algo3</button>
          <button>Algo4</button>
        </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>
