<div class="content">
  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>account_circle</mat-icon> <span class="section-title">Administración</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="button-strip">
        <div>
          <button routerLink="../personas"><div class="icon"><mat-icon>account_box</mat-icon></div><div class="text">Personas</div></button>
          <button routerLink="../usuarios"><div class="icon"><mat-icon> vpn_key</mat-icon></div><div class="text">Usuarios Admitidos</div></button>
        </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>attach_money</mat-icon> <span class="section-title">Ventas</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="button-strip">
          <button routerLink="../proveedores"><div class="icon">	<mat-icon> local_shipping</mat-icon></div><div class="text">Proveedores</div></button>
          <button routerLink="../recetas"><div class="icon"><mat-icon>receipt</mat-icon></div><div class="text">Recetas</div></button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>assessment</mat-icon> <span class="section-title">Estadísticas</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="expansion-content">
        </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>

