
<div class="form-container" [hidden]="!isOnStepOne">
    <div class="form-title">
        <h1 [hidden]="isModifying">Registrar movimiento</h1>
        <h1 [hidden]="!isModifying">Editando persona con id: {{this.Id}}</h1>
    </div>
    <div class="form-content">
        <div class="input-group flex-nowrap">
            <span class="input-group-text"><i class="bi bi-box-seam"></i></span>
            <select class="form-control" [(ngModel)]="idAlmacen">
                <option value="0">Seleccione una sucursal</option>
                <option *ngFor="let sc of comboSuc" value="{{sc.Id}}">{{sc.Nombre}}</option>
            </select>
            <span class="input-group-text"><i class="bi bi-shuffle"></i></span>
            <select class="form-control" [(ngModel)]="tipoMovimiento">
                <option value="0">Seleccione un Tipo de Movimiento</option>
                <option *ngFor="let tm of comboTM" value="{{tm.Id}}">{{tm.Descripcion}}</option>
            </select>
        </div>
    </div>
    <div class="form-end">
        <button [hidden]="!isModifying" (click)="insertar()" class="btn btn-outline-warning"><i class="bi bi-check-circle"></i> Confirmar<i class="underline"></i></button>
        <button [hidden]="!isModifying" class="btn btn-outline-danger"><i class="bi bi-x-circle"></i> Cancelar</button>
        <button [hidden]="isModifying" (click)="insertar()" class="btn btn-outline-success"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
    </div>
</div>
<br>


<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="form-place" *ngIf="isOnStepTwo && mostrarFormulario">
    <div class="form-container">
        <div class="form-title">
            <h1 [hidden]="isModifying">Registrar Detalle al Movimiento: {{this.IdMovimiento}}</h1>
        </div>
        
        <div class="form-content">
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-truck"></i></span>
                <select class="form-select" [(ngModel)]="Insumo">
                    <option value="">Seleccione un Insumo</option>
                    <option *ngFor="let proveedor of comboInsumos" value="{{proveedor.Insumo}}">{{proveedor.Descripcion}}</option>
                </select>
                <select class="form-control" [(ngModel)]="idAlmacen" disabled>
                    <option value="0">Seleccione una sucursal</option>
                    <option *ngFor="let sc of comboSuc" value="{{sc.Id}}">{{sc.Nombre}}</option>
                </select>
                <span class="input-group-text"><i class="bi bi-shuffle"></i></span>
                <select class="form-control" [(ngModel)]="tipoMovimiento" disabled>
                    <option value="0">Seleccione un Tipo de Movimiento</option>
                    <option *ngFor="let tm of comboTM" value="{{tm.Id}}">{{tm.Descripcion}}</option>
                </select>
            </div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-at"></i></span>
                <input class="form-control" type="number" [(ngModel)]="cantidad">
            </div>
        </div>
        <div class="form-end">
            <button (click)="terminar()" class="btn btn-outline-info"><i class="bi bi-check-circle"></i> Terminar<i class="underline"></i></button>
            <button (click)="insertarDetalleMov(); limpiar();" class="btn btn-outline-success"><i class="bi bi-cloud-upload-fill icon"></i> Insertar<i class="underline"></i></button>
        </div>
    </div>
</div>
<br>
<!-- <div class="actionbar" style="width: 70%;">
    <div class="input-group flex-nowrap">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
        <input class="form-control" (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
    </div>
</div> -->
<!-- Nuevo formulario de filtros -->
<div style="display: flex; justify-content: flex-start; ">
    <div class="form-container" style="width: 100%; margin-left: 0; background-color: var( --mat-toolbar-container-background-color)">
   <!--      <div class="form-title">
            <h2>Filtros</h2>
        </div> -->
        <div class="form-content">
            <div class="input-group flex-nowrap">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input class="form-control" type="text" placeholder="Buscar por Insumo" >
                <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                <input class="form-control" type="date" >
                <span class="input-group-text"><i class="bi bi-building"></i></span>
                <select class="form-select" >
                    <option value="">Todas las Sucursales</option>
                    <option *ngFor="let sc of comboSuc" value="{{sc.Id}}">{{sc.Nombre}}</option>
                </select>
                <button  class="btn btn-outline-primary"><i class="bi bi-funnel"></i> Aplicar Filtros</button>
                <button  class="btn btn-outline-secondary"><i class="bi bi-x-circle"></i> Limpiar Filtros</button>
            </div>
        </div>

    </div>
</div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="table-container" [hidden]="!isOnStepOne">
    <div class="table-hotbar">
        <button (click)="exportarMovimiento()"><i class="bi bi-filetype-xlsx"></i></button>
    </div>
    
    <table class="table" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let persona"> {{persona.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="NombreAlmacen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacen </th>
            <td mat-cell *matCellDef="let persona"> {{persona.NombreAlmacen}} </td>
        </ng-container>
        <ng-container matColumnDef="TipoMovimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Movimiento </th>
            <td mat-cell *matCellDef="let persona"> {{persona.TipoMovimiento}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaAutorizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Autorizado </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaAutorizacion}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioRegistra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Registra </th>
            <td mat-cell *matCellDef="let persona"> {{persona.UsuarioRegistra}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioAutoriza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Autorizado por </th>
            <td mat-cell *matCellDef="let persona"> {{persona.UsuarioAutoriza}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaCreacion}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actualizado </th>
            <td mat-cell *matCellDef="let persona"> {{persona.FechaActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado por </th>
            <td mat-cell *matCellDef="let persona"> {{persona.UsuarioActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let elemento">
                <mat-icon class="action-btn" [hidden]="elemento.Estatus"></mat-icon>
            <mat-icon class="action-btn" (click)="abrirDeleteDialog(elemento.Id, elemento.Nombre)">delete</mat-icon>
            <mat-icon class="action-btn" (click)="mostrarDetalles(elemento.Id)">visibility</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" showFirstLastButtons></mat-paginator>

</div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<button style="position: absolute; right: 10px;" class="btn btn-success" (click)="volverALista()" *ngIf="isOnStepTwo  && !mostrarFormulario">Volver a lista</button><br> <br>
<div class="table-container" [hidden]="!isOnStepTwo">
    <div class="table-hotbar">
        <button (click)="exportarMovimiento()" ><i class="bi bi-filetype-xlsx"></i></button>
    </div>
    <table mat-table [dataSource]="dataSource2" matSort>
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="IdMovimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio de compra </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.IdMovimiento}} </td>
        </ng-container>
        <ng-container matColumnDef="Insumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Insumo </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Insumo}} </td>
        </ng-container>
        <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Insumo </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.Cantidad}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaRegistro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de registro </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.FechaRegistro}} </td>
        </ng-container>
        <ng-container matColumnDef="FechaActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de modificación </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.FechaActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="UsuarioActualiza">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificado por </th>
            <td mat-cell *matCellDef="let Orden"> {{Orden.UsuarioActualiza}} </td>
        </ng-container>
        <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let elemento">
            <mat-icon class="action-btn" (click)="abrirDeleteDialog(elemento.Id, elemento.Nombre)"> delete</mat-icon>
        </td>
        </ng-container>
    <mat-header-row *matHeaderRowDef="columnasDetalleCompras"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasDetalleCompras;"></mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>

</div>
